#id-output {
  font-family: cursive;
  font-size: 110%;
}

#id-side {
  font-size: 90%;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.header {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, serif;
}
